NODE_ENV=production
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=central-kitchen
NEXTAUTH_SECRET=replace-with-long-random-secret
NEXTAUTH_URL=http://localhost:3000
REPORT_TIMEZONE=Asia/Dhaka

# Hardcoded system users (change these in Vercel env after first deploy)
SUPER_ADMIN_PASSWORD=SuperAdmin@123
ADMIN_PASSWORD=Admin@123
EMPLOYEE_PASSWORD=Employee@123
